body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.navbar-title {
  font-size: 1.5rem;
  margin: 0;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.movie-card {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}